<% breadcrumb :root %>

<div class="bg-background pt-20 relative">
  <!-- 背景画像セクション -->
  <div class="relative">
    <img src="<%= asset_path 'main_image.jpeg' %>" alt="Main Image" class="w-full h-auto opacity-90">

    <!-- コンテンツセクション -->
    <div class="absolute inset-0 flex flex-col items-center justify-center">
      <div class="relative z-10 bg-white bg-opacity-80 p-6 rounded-lg shadow-lg w-2/3 max-w-md text-center">
        <!-- ロゴの中央配置 -->
        <div class="flex justify-center mb-6">
          <img src="<%= asset_path 'logo_full.png' %>" alt="えんつむぎ" class="w-48 h-auto">
        </div>
        <!-- 神社を検索ボタン -->
        <div class="flex justify-center">
          <div class="bg-white bg-opacity-90 p-4 w-2/3 rounded-full shadow-lg">
            <%= link_to "神社を検索", search_shrines_path, class: "bg-button text-white py-2 px-4 rounded-md w-full" %>
            <p class="mt-6 text-gray-700">
              地図、都道府県、ご利益別、<br>
              フリーワードから検索できます
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- サービスコンテンツ紹介セクション -->
  <div class="relative mb-20 bg-cover bg-center py-16 pt-32">
    <div class="absolute inset-0 bg-cover bg-center opacity-60" style="background-image: url('<%= asset_path 'pattern.jpg' %>');"></div>

    <div class="relative z-10 container mx-auto px-6 text-center">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
        <!-- タイトル -->
        <div class="h-fit min-h-[196px] px-4 pb-4 md:order-2">
          <h2 class="text-3xl font-medium mb-2 mt-8 font-serif">えんつむぎで<br>できること</h2>
          <img src="<%= asset_path 'icon_hato.png' %>" alt="タイトル" class="w-16 h-16 mx-auto">
        </div>
        <!-- コンテンツ1 -->
        <div class="bg-white bg-opacity-70 h-fit px-4 pb-4 rounded-lg shadow-md md:order-1">
          <img src="<%= asset_path 'icon_mushimegane.png' %>" alt="神社の検索" class="w-16 h-16 mx-auto">
          <h3 class="text-xl font-semibold mb-4">神社の検索</h3>
          <p class="text-gray-700">都道府県名、ご利益、地図、<br>フリーワードなど<br>様々な方法で神社が検索できます◎</p>
        </div>
        <!-- コンテンツ2 -->
        <div class="bg-white bg-opacity-70 h-fit px-4 pb-4 rounded-lg shadow-md">
          <img src="<%= asset_path 'icon_picture.png' %>" alt="みんなの投稿を見る" class="w-16 h-16 mx-auto">
          <h3 class="text-xl font-semibold mb-4">みんなの投稿を見る</h3>
          <p class="text-gray-700">みんなの投稿を見て、<br>次に行きたい神社・ほしい御朱印を<br>見つけよう！</p>
        </div>
      </div>

      <!-- 区切り線とテキスト -->
      <div class="mt-16 mb-12 flex items-center justify-center">
        <hr class="border-stone-700 opacity-30 w-12">
        <p class="text-lg mx-3 font-serif">ユーザー登録でさらに</p>
        <hr class="border-stone-700 opacity-30 w-12">
      </div>

      <!-- サービスコンテンツ紹介セクション 続き -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
        <!-- コンテンツ3 -->
        <div class="bg-white bg-opacity-70 h-fit px-4 pb-4 rounded-lg shadow-md">
          <img src="<%= asset_path 'icon_pen.png' %>" alt="自分の御朱印を投稿" class="w-16 h-16 mx-auto">
          <h3 class="text-xl font-semibold mb-4">自分の御朱印を投稿</h3>
          <p class="text-gray-700">御朱印の写真を投稿して<br>お気に入りやおすすめを<br>共有しよう！</p>
        </div>
        <!-- コンテンツ4 -->
        <div class="bg-white bg-opacity-70 h-fit min-h-[196px] px-4 pb-4 rounded-lg shadow-md">
          <img src="<%= asset_path 'icon_nico.png' %>" alt="マイページ" class="w-16 h-16 mx-auto">
          <h3 class="text-xl font-semibold mb-4">マイページ</h3>
          <p class="text-gray-700">自分の投稿一覧は<br>マイページから確認できるよ！</p>
        </div>
        <!-- コンテンツ5 -->
        <div class="bg-white bg-opacity-70 h-fit min-h-[196px] px-4 pb-4 rounded-lg shadow-md">
          <img src="<%= asset_path 'icon_bookmark.png' %>" alt="ブックマーク" class="w-16 h-16 mx-auto">
          <h3 class="text-xl font-semibold mb-4">ブックマーク</h3>
          <p class="text-gray-700">気になる神社をブックマーク！<br>ブックマーク一覧もマイページからチェック◎</p>
        </div>
      </div>
    </div>
  </div>
