<div class="flex items-center justify-center h-screen bg-background">
  <div class="flex flex-col w-2/5 p-4 rounded-lg border-2 border-navy bg-white">
    <h2 class="text-lg font-bold my-6 text-center"><%= t('.title') %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div  class="form-control px-10 flex flex-col items-center w-full">
        <%= f.label :name, class: "label pb-0 self-start w-full" %>
        <%= f.text_field :name, autofocus: true, class: "input input-bordered, w-full h-9" %>
      </div>

      <div  class="form-control px-10 flex flex-col items-center w-full">
        <%= f.label :email, class: "label pb-0 self-start w-full" %>
        <%= f.email_field :email, autocomplete: "email", class: "input input-bordered w-full h-9" %>
      </div>

      <div  class="form-control px-10 flex flex-col items-center w-full">
        <div class="flex justify-between w-full">
        <%= f.label :password, class: "label pb-0 " %>
          <% if @minimum_password_length %>
            <em class="text-xs"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %>
          </div>
        <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered w-full h-9" %>
      </div>

      <div  class="form-control px-10 flex flex-col items-center w-full">
        <%= f.label :password_confirmation, class: "label pb-0 self-start w-full" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered w-full h-9" %>
      </div>

      <div class="form-control my-4 flex flex-col items-center">
        <%= f.submit t('.sign_up'), class: "btn bg-navy text-white w-24 "%>
      </div>
    <% end %>

    <p class="text-center">ー または ー</p>

    <div class="form-control my-4 flex flex-col items-center">
      <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false } do %>
        <%= image_tag('google_icon_light_sq_SU@2x.png', class: 'w-full h-9') %>
      <% end %>
    </div>

    <%#= render "devise/shared/links" %>

  </div>
</div>
