<div class="container mx-auto py-4">
  <h1 class="bg-background text-3xl font-bold mb-4 text-center py-4">LIST</h1>
  <div class="flex flex-wrap justify-center">
    <% @shrines.each do |shrine| %>
      <div class="card bg-white max-w-sm shadow m-4">
        <figure>
          <img src="<%= shrine.photo_reference %>" alt="<%= shrine.name %>の写真">
        </figure>
        <div class="card-body">
          <div class="card-title"><%= shrine.name %></div>
          <p><%= shrine.address %></p>
          <div class="card-actions justify-start">
            <div class="badge badge-outline bg-yellow">金運</div>
            <div class="badge badge-outline bg-pink">恋愛運</div>
            <div class="badge badge-outline bg-waterblue">健康運</div>
          </div>
          <div class="px-6 pt-4 pb-2 flex justify-center">
            <%= link_to '詳細', shrine_path(shrine), class: 'bg-button text-white font-bold py-2 px-4 rounded' %>
          </div>
        </div>
      </div>

<%
=begin %>
      <div class="max-w-sm rounded overflow-hidden shadow-lg m-4 bg-white relative">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-center"><%= shrine.name %></div>
          <img class="w-full h-48 object-cover" src="<%= shrine.photo_reference %>" alt="<%= shrine.name %>の写真">
          <p class="text-gray-700 text-base"><%= shrine.address %></p>
        </div>
        <div class="px-6 pt-4 pb-2 flex justify-center">
          <%= link_to '詳細', shrine_path(shrine), class: 'bg-button text-white font-bold py-2 px-4 rounded' %>
        </div>
      </div>
<%
=end %>

    <% end %>
  </div>
  <div class="mt-8 text-center text-xl">
    <%= paginate @shrines %>
  </div>
</div>
