<% breadcrumb :shrines_index %>

<div class="bg-background pt-28 pb-12 px-6">
  <h1 class="text-3xl font-bold mb-4 text-center py-4">LIST</h1>
  <div class="flex flex-wrap justify-center">
    <% if @no_results %>
      <div class="text-red-500 text-lg">条件に一致する神社がありません</div>
    <% else %>
      <% @shrines.each do |shrine| %>
        <div class="card bg-my_white w-80 shadow m-4">
          <figure>
            <% image_url = shrine.formatted_photo_reference.presence || asset_path('sample.jpg') %>
            <img src="<%= image_url %>" alt="<%= shrine.name %>の写真" class="w-full h-56 object-cover">
          </figure>
          <div class="card-body h-56">
            <div class="card-title"><%= shrine.name %></div>
            <p><%= shrine.address %></p>
            <div class="flex">
              <% shrine.shrine_categories.each do |shrine_category| %>
                <div class="badge text-xs 
                  <%= "bg-blue" if shrine_category.category.name == '総合運' %>
                  <%= "bg-yellow" if shrine_category.category.name == '金運' %>
                  <%= "bg-pink" if shrine_category.category.name == '恋愛運' %>
                  <%= "bg-olive" if shrine_category.category.name == '健康運' %>
                  <%= "bg-purple" if shrine_category.category.name == '仕事・学業運' %>
                  opacity-40 text-black py-3">
                  <%= shrine_category.category.name %>
                </div>
              <% end %>
            </div>
            <div class="px-6 pt-4 pb-2 flex justify-center">
              <%= link_to '詳細', shrine_path(shrine), class: 'bg-btn text-white font-bold py-1 px-8 rounded' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="mt-8 text-center text-xl">
    <%= paginate @shrines %>
  </div>
</div>
