<% breadcrumb :shrines_index %>

<div class="container mx-auto py-4">
  <h1 class="bg-background text-3xl font-bold mb-4 text-center py-4">LIST</h1>
  <div class="flex flex-wrap justify-center">
    <% if @no_results %>
      <div class="text-red-500 text-lg">条件に一致する神社がありません</div>
    <% else %>
      <% @shrines.each do |shrine| %>
        <div class="card bg-my_white max-w-sm shadow m-4">
          <figure>
            <img src="<%= shrine.formatted_photo_reference %>" alt="<%= shrine.name %>の写真" class="w-full h-auto max-h-60 object-cover">
          </figure>
          <div class="card-body">
            <div class="card-title"><%= shrine.name %></div>
            <p><%= shrine.address %></p>
            <div class="card-actions justify-start">
              <div class="badge badge-outline bg-yellow">金運</div>
              <div class="badge badge-outline bg-pink">恋愛運</div>
              <div class="badge badge-outline bg-blue">健康運</div>
            </div>
            <div class="px-6 pt-4 pb-2 flex justify-center">
              <%= link_to '詳細', shrine_path(shrine), class: 'bg-btn text-white font-bold py-2 px-4 rounded' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="mt-8 text-center text-xl">
    <%= paginate @shrines %>
  </div>
</div>
