<div class="container mx-auto py-4">
  <h1 class="text-2xl font-bold mb-4">LIST</h1>
  <div class="flex flex-wrap justify-center">
    <% @shrines.each do |shrine| %>
      <div class="max-w-sm rounded overflow-hidden shadow-lg m-4 bg-white">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><%= shrine.name %></div>
          <img class="w-full h-48 object-cover" src="<%= shrine.photo_reference %>" alt="<%= shrine.name %>の写真">
          <p class="text-gray-700 text-base"><%= shrine.address %></p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <%= link_to '詳細', shrine_path(shrine), class: 'bg-green-500 text-white font-bold py-2 px-4 rounded' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
