<% breadcrumb :shrines_show, @shrine %>

<div class="bg-background min-h-screen pt-32 pb-12 px-6">
  <div class="bg-my_white p-4 w-9/12 h-1/4 rounded-lg mx-auto shadow-md">
    <div class="flex items-center">
      <div class="w-2/5">
        <% if @shrine.photo_reference.present? %>
          <img src="<%= @shrine.formatted_photo_reference %>" alt="<%= @shrine.name %>" class="rounded-lg w-full h-52">
        <% else %>
          <div class="bg-gray-300 text-white p-4 rounded-lg">PHOTO</div>
        <% end %>
      </div>
      <div class="w-3/5 ml-10">
        <div class="text-2xl font-bold mt-2 flex items-center justify-between">
          <h2><%= @shrine.name %></h2>

          <% if user_signed_in? %>
            <div class="mr-10 w-10">
              <%= turbo_frame_tag dom_id(@shrine, :bookmark), class: "ml-4" do %>
                <% if current_user.bookmarked_shrines.exists?(@shrine.id) %>
                  <%= link_to shrine_bookmark_path(@shrine), method: :delete, data: { turbo_method: :delete }, class: "text-red-500" do %>
                    <i class="fa-solid fa-bookmark"></i>
                  <% end %>
                <% else %>
                  <%= link_to shrine_bookmark_path(@shrine), method: :post, data: { turbo_method: :post }, class: "text-gray-500" do %>
                    <i class="fa-regular fa-bookmark"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>

        <p class="text-gray-700 mt-4"><%= @shrine.address %></p>
        <div class="flex mt-6">
          <% @categories.each do |shrine_category| %>
            <div class="badge 
              <%= "bg-blue opacity-70" if shrine_category.category.name == '総合運' %>
              <%= "bg-yellow opacity-70" if shrine_category.category.name == '金運' %>
              <%= "bg-pink opacity-70" if shrine_category.category.name == '恋愛運' %>
              <%= "bg-olive opacity-70" if shrine_category.category.name == '健康運' %>
              <%= "bg-purple opacity-70" if shrine_category.category.name == '仕事・学業運' %>
              text-black py-3">
              <%= shrine_category.category.name %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div>
    <% if @no_results %>
      <div class="flex flex-col items-center justify-center">
        <p class=" text-xl">御朱印の写真がありません<i class="fa-regular fa-face-surprise style="color: #403b45;"></i></p>
        <%= link_to '投稿する', new_post_path, class: 'bg-btn text-white py-2 px-4 mt-6 rounded' %>
      </div>
    <% else %>
      <div class="flex flex-col items-center justify-center">
        <p class="text-xl mt-16">みんなの投稿<i class="fa-regular fa-face-smile" style="color: #403b45;"></i></p>

        <div class="flex flex-wrap justify-center mt-6">
          <% @posts.each do |post| %>
            <div class="card w-72 bg-my_white shadow-lg m-4">
              <figure class="px-4 mt-6">
                <%= image_tag post.image, alt: "御朱印の写真", class: "rounded-lg w-full h-52 max-h-60 object-cover" %>
              </figure>
              <div class="card-body px-6 pb-4 pt-2">
                <h2 class="card-title">
                  <%= post.body %>
                </h2>
                <div class="flex items-end pt-4">
                  <p><%= post.user.name %></p>
                  <p class="text-end"><%= post.created_at.strftime('%Y/%m/%d') %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
