<turbo-frame id="content">
  <div class="container mx-auto mt-12">
    <% if @no_results %>
      <div class="text-red-500 text-lg text-center mt-24">ブックマークしている神社はありません</div>
    <% else %>
      <div class="flex flex-wrap justify-center mt-6">
        <% @bookmarks.each do |bookmark| %>
          <div class="card bg-my_white w-80 shadow-lg m-4">
            <figure>
              <% if bookmark.shrine.photo_reference.present? %>
                <img src="<%= bookmark.shrine.formatted_photo_reference %>" alt="<%= bookmark.shrine.name %>" class="w-full h-56 object-cover">
              <% else %>
                <div class="bg-gray-300 text-white p-4 rounded-lg">PHOTO</div>
              <% end %>
            </figure>

            <div class="card-body h-fit">
              <div class="flex items-center justify-between mt-2">
                <%= link_to "#{bookmark.shrine.name}", shrine_path(bookmark.shrine), data: { turbo: false }, class: 'card-title hover:text-sky-300' %>
                <div class="w-10">
                  <%= turbo_frame_tag dom_id(bookmark.shrine, :bookmark), class: "ml-4" do %>
                    <% if current_user.bookmarked_shrines.exists?(bookmark.shrine.id) %>
                      <%= link_to shrine_bookmark_path(bookmark.shrine), method: :delete, data: { turbo_method: :delete }, class: "text-red-500" do %>
                        <i class="fa-solid fa-bookmark"></i>
                      <% end %>
                    <% else %>
                      <%= link_to shrine_bookmark_path(bookmark.shrine), method: :post, data: { turbo_method: :post }, class: "text-gray-500" do %>
                        <i class="fa-regular fa-bookmark"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <p class="mt-2 mb-2"><%= bookmark.shrine.prefecture.name %></p>
              <div class="flex mb-4">
                <% bookmark.shrine.shrine_categories.each do |shrine_category| %>
                  <div class="badge 
                    <%= "bg-blue opacity-70" if shrine_category.category.name == '総合運' %>
                    <%= "bg-yellow opacity-70" if shrine_category.category.name == '金運' %>
                    <%= "bg-pink opacity-70" if shrine_category.category.name == '恋愛運' %>
                    <%= "bg-olive opacity-70" if shrine_category.category.name == '健康運' %>
                    <%= "bg-purple opacity-70" if shrine_category.category.name == '仕事・学業運' %> 
                    py-3">
                    <%= shrine_category.category.name %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="mt-8 text-center text-xl">
      <%#= paginate @posts %>
    </div>
  </div>
</turbo-frame>
