<div class="bg-background min-h-screen p-6">
  <div class="">
    <h1 class="text-2xl text-text mt-2 mb-8 text-center">マイページ</h1>

    <!-- メニューバー -->
      <div class="tabs tabs-bordered mb-6 max-w-4xl mx-auto space-x-6">
        <%= link_to "プロフィール", '#', data: { turbo_frame: "content" }, class: "tab" %>
        <%= link_to "投稿一覧", '#', data: { turbo_frame: "content" }, class: "tab" %>
        <%= link_to "ブックマーク", '#', data: { turbo_frame: "content" }, class: "tab" %>
      </div>

    <!-- コンテンツ部分（Turbo Frameで囲む） -->
    <%= turbo_frame_tag "content" do %>
      <!-- 初期表示: アカウント設定フォーム -->
      <div class="flex justify-center">
        <div class="flex flex-col items-center bg-base-100 p-8 rounded-lg shadow-lg w-2/5">
          <div class="avatar mb-6">
            <div class="w-20 rounded-full">
              <%= image_tag 'default_icon.png', alt: 'プロフィール画像' %>
            </div>
          </div>

          <div class="w-full max-w-lg ">
            <div class="form-control mb-2">
              <label class="label pb-0"><span class="label-text">ユーザーネーム</span></label>
              <div class="input input-bordered w-full px-2 py-1 h-9 border rounded">
                <%= @user.name %>
              </div>
            </div>
            <div class="form-control mb-2">
              <label class="label pb-0"><span class="label-text">メールアドレス</span></label>
              <div class="input input-bordered w-full px-2 py-1 h-9 border rounded">
                <%= @user.email %>
              </div>
            </div>
            <div class="form-control mb-2">
              <label class="label pb-0"><span class="label-text">パスワード</span></label>
              <div class="input input-bordered w-full px-2 py-1 h-9 border rounded">
                <%= @user.password %>
              </div>
            </div>
            <div class="form-control mb-6">
              <label class="label pb-0"><span class="label-text">プロフィール画像</span></label>
              <div class="input input-bordered w-full px-2 py-1 h-9 border rounded">
              </div>
            </div>
            <div class="form-control flex items-center">
              <%= link_to '編集する', '#', class: 'bg-navy text-white py-2 px-4 rounded w-32 text-center' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
