<% breadcrumb :users_show %>

<div class="bg-background min-h-screen p-6">
  <div class="">
    <h1 class="text-2xl text-text mt-2 mb-8 text-center">マイページ</h1>

    <!-- メニューバー -->
      <div class="tabs tabs-bordered mb-6 max-w-4xl mx-auto space-x-6">
        <%= link_to "プロフィール", '#', data: { turbo_frame: "content" }, class: "tab" %>
        <%= link_to "投稿一覧", '#', data: { turbo_frame: "content" }, class: "tab" %>
        <%= link_to "ブックマーク", '#', data: { turbo_frame: "content" }, class: "tab" %>
      </div>

    <!-- コンテンツ部分（Turbo Frameで囲む） -->
    <%= turbo_frame_tag "content" do %>
      <!-- 初期表示: プロフィール -->
      <%= render 'my_posts' %>
    <% end %>
  </div>
</div>
