<header class='bg-header_footer'>
  <div class='navbar'>
    <div class='flex-1'>
      <%= link_to image_tag('logo.png', class: 'h-12'), '/' %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal flex items-center">
        <li><%= link_to 'ユーザー登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li>
          <details class="relative">
            <summary class="mr-2">
              メニュー
            </summary>
            <ul class="bg-my_white px-1 py-2 rounded-md text-sm top-7 right-1 leading-relaxed w-40 z-10">
              <li><%= link_to '神社を探す', '#' %></li>
              <li><%= link_to '御朱印を投稿', '#' %></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
</header>