<header class="bg-header_footer">
  <div class="navbar h-12">
    <div class="flex-1">
      <%= link_to image_tag('logo.png', class: 'h-12'), '/' %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal flex items-center">
        <li>
          <details class="relative">
            <summary class="mr-2">
              メニュー
            </summary>
            <ul class="bg-my_white px-1 py-2 rounded-md text-sm top-7 right-1 leading-normal w-40 z-50">
              <li><%= link_to '神社を検索', '#' %></li>
              <li><%= link_to 'みんなの投稿', '#' %></li>
              <li><%= link_to '新規投稿', new_post_path %></li>
              <hr class="my-2 h-0.5 border-t-0 bg-neutral-100" />
              <li><%= link_to 'マイページ', users_path %></li>
              <li><%= link_to '投稿一覧', '#' %></li>
              <li><%= link_to 'ブックマーク一覧', '#' %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %></li>
              <hr class="my-2 h-0.5 border-t-0 bg-neutral-100" />
              <li class="share-button-container w-10">
                <%= link_to "https://twitter.com/intent/tweet?text=えんつむぎ 神社と御朱印の情報共有サービス&url=#{request.original_url}", target: '_blank', rel: 'noopener' do %>
                  <i class="fa-brands fa-x-twitter fa-lg py-2 px-2" style="color: #5f5434;"></i>
                <% end %>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
</header>
