<% breadcrumb :posts_new %>

<div class="flex justify-center pt-20 pb-12 px-6 bg-background">
  <div class="flex flex-col items-center bg-my_white mt-8 p-8 rounded-lg shadow-lg w-2/5">
    <div class="mb-6 text-lg font-bold">
        <h2>新規投稿</h2>
    </div>

    <div class="w-full max-w-lg ">
      <%= form_with model: @post, local: true, data: { turbo: false }, html: { multipart: true } do |f| %>
        <!-- shrine_idの隠しフィールド -->
        <%= f.hidden_field :shrine_id, id: 'shrine_id' %>

        <div class="form-control mb-5">
          <div class="flex justify-between items-center">
            <%= f.label :shrine_name, '神社名' %>
            <%= link_to '候補の中にない場合はこちら', '#', class: 'text-sky-600 text-sm hover:text-sky-400' %>
          </div>
          <%= f.text_field :shrine_name, id: 'shrine_name', class: "w-full px-2 py-1 h-9 border rounded text-sm", placeholder: '入力すると候補が表示されます' %>
        </div>

        <div class="form-control mb-5">
          <%= f.label :address, '住所' %>
          <input type="text" id="address" class="w-full px-2 py-1 h-9 border rounded text-sm" readonly> <!-- 自動入力された住所を表示 -->
        </div>

        <div class="form-control mb-5">
          <%= f.label :category, 'カテゴリ' %>
          <div id="category-badge-container" class="flex flex-wrap space-x-2 mt-1 w-full px-2 py-1 h-9 border rounded bg-white">
            <!-- カテゴリのバッジがここに追加される -->
          </div>
        </div>

        <div class="form-control mb-5">
          <%= f.label :image, "御朱印の写真" %>
          <%= f.file_field :image, class: "file-input file-input-bordered file:border-0 file:bg-background file:text-slate-800 text-sm text-gray-400 w-full h-9" %>
        </div>

        <div class="form-control mb-5">
          <%= f.label :body, 'コメント' %>
          <%= f.text_area :body, class: "textarea textarea-bordered w-full mt-1", rows: 2 %>
        </div>

        <div class="form-control flex items-center mt-7">
          <%= f.submit '投稿する', class: 'bg-navy text-white py-2 px-4 rounded w-32 text-center' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
