<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>えんつむぎ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
    <%= favicon_link_tag('favicon.ico') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Shippori+Mincho+B1&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7f14a3005c.js" crossorigin="anonymous"></script>

    <!-- OGP メタタグ -->
    <meta property="og:title" content="えんつむぎ" />
    <meta property="og:description" content="神社と御朱印の情報共有サービスです" />
    <meta property="og:image" content="<%= image_url('ogp.png') %>" />
    <meta property="og:url" content="https://www.en-tsumugi.com/" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@akane_wots" />
  </head>

  <body class="font-zenmaru">
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/header_before_login' %>
    <% end %>
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </body>
</html>
